body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

.note,
.problem {
    width: 45%;
    margin: 10px;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #333;
    border-radius: 5px;
    color: yellow;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Style for theme cards */

.theme-card.show {
    opacity: 1;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    border-bottom: 2px solid transparent; /* 底部边框，起初是透明的 */
    transition: border-bottom 0.3s ease-in-out; /* 添加过渡效果 */
}

header nav ul li a:hover {
    border-bottom: 2px solid white; /* 悬停时改变底部边框颜色 */
}

.theme-card:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.theme-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    background-color: #F0F0F0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    color: #333; /* 所有文字的顏色 */
}

.theme-card h3 a {
    color: inherit; /* 繼承父元素的文字顏色 */
}

.theme-card p {
    color: #666; /* 段落文字顏色 */
}