body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background: #2c3e50;
    color: #ecf0f1;
    overflow-y: auto; /* 添加纵向滚动条 */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0; /* 去除默认的列表边距 */
}

.sidebar li {
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid #34495e;
    transition: background 0.3s;
}

.sidebar li:hover {
    background: #34495e;
}

.content {
    flex: 1;
    padding: 20px;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

/* Optional: Add some styles to the selected item in the sidebar */
.sidebar li.selected {
    background: #3498db;
}

.bottom-left {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.bottom-left button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.bottom-left button:hover {
    background-color: #2980b9;
}
